<a href="https://colab.research.google.com/github/PrabhaRajesh/Iris_Classification/blob/main/Iris_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('iris_csv-210120-132620.csv')

In [ ]:
df.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
df.isnull().sum()

sepallength    0
sepalwidth     0
petallength    0
petalwidth     0
class          0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
df.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [ ]:
df = df.sample(frac=1)

In [ ]:
df.reset_index(drop=True,inplace=True)

In [ ]:
df.head()

   sepallength  sepalwidth  petallength  petalwidth            class
0          5.6         2.9          3.6         1.3  Iris-versicolor
1          6.9         3.1          4.9         1.5  Iris-versicolor
2          4.6         3.2          1.4         0.2      Iris-setosa
3          5.0         3.5          1.6         0.6      Iris-setosa
4          6.3         2.8          5.1         1.5   Iris-virginica

In [ ]:
X = df.iloc[:,0:4]

In [ ]:
X.head()

   sepallength  sepalwidth  petallength  petalwidth
0          5.6         2.9          3.6         1.3
1          6.9         3.1          4.9         1.5
2          4.6         3.2          1.4         0.2
3          5.0         3.5          1.6         0.6
4          6.3         2.8          5.1         1.5

In [ ]:
Y = df.iloc[:,-1]

In [ ]:
Y.head()

0    Iris-versicolor
1    Iris-versicolor
2        Iris-setosa
3        Iris-setosa
4     Iris-virginica
Name: class, dtype: object

In [ ]:
Y.unique()

array(['Iris-versicolor', 'Iris-setosa', 'Iris-virginica'], dtype=object)

In [ ]:
Y = Y.map({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})

In [ ]:
Y.head()

0    1
1    1
2    0
3    0
4    2
Name: class, dtype: int64

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

## DecisionTreeClassifier

In [ ]:
dt = DecisionTreeClassifier(max_depth=100,random_state=0)
dt.fit(X_train,Y_train)
accuracy_score(Y_test,dt.predict(X_test))*100

100.0

## AdaboostClassifier

In [ ]:
ab = AdaBoostClassifier(n_estimators=100,learning_rate=1,random_state=0)
ab.fit(X_train,Y_train)
accuracy_score(Y_test,ab.predict(X_test))*100

100.0

## SVC

In [ ]:
svc = SVC(kernel='rbf',gamma=1,random_state=0)
svc.fit(X_train,Y_train)
accuracy_score(Y_test,svc.predict(X_test))*100

100.0

## Logisticregression

In [ ]:
lg = LogisticRegression(random_state=0)
lg.fit(X_train,Y_train)
accuracy_score(Y_test,lg.predict(X_test))*100

100.0